/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/

html {
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}
body{
    color: #343434 ;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
}

img{
    width: 300px;
}

a{
    color: #FFE66D;
}

a:hover{
    text-decoration: none;
}
h1{
    font-size: 100px;
}
h2{
   
    font-size: 45px;
}
h1,h2{
    font-family: 'Caveat', cursive;
     margin: 0;
     line-height: 1;
}

.content-wrap{
    width: 900px;
    margin: 0 auto;
    padding: 60px;
}
  
h3{
    margin-bottom: 0;
}
.item-detail h3 ~ p{
    margin: 0;
}
.item-detail h3 + p{
    font-style: italic;
}

.divider> section{
    border-bottom: 3px dashed #343434;
    padding: 25px 0;
}

.divider> section:last-of-type{
    border-style: none;
}
  /* Profile
  ------------------------------------*/

  header{
      background-color: #2F3061;
      color: #F7FFF7 ;
      text-align: center;
  }

 
  /* Projects
  ------------------------------------*/

.projects{
    background-color: #F7FFF7;
}

.projects a{
    color: #2F3061;
}
   

 .projects .btn{
     background-color: #2F3061;
     padding: 10px;
     border-radius: 4px;
     color: #F7FFF7;
     text-decoration: none;
     display: inline-block;
 }

 .project-item {
     overflow: hidden;
    
 }
.project-item img{
    float: left;
    margin: 20px;
}
 
  /* Work Experience
  ------------------------------------*/


  .work_experience {
      background-color: #A1C6D7;
  }

  .job-item{
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
  }
  /* Education
  ------------------------------------*/
  
  
  
  /* Contact Info
  ------------------------------------*/

footer{
    background-color: #343434;
    color: #F7FFF7 ;
    text-align: center;
} 

.contact-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.contact-list a{
    padding: 15px;
    display: inline-block;
}